body {
  margin: 0;
  padding: 0;
}

.header-brand {
  font-size: xx-large;
  font-weight: bolder;
}
.nav-item {
  font-size: 8px;
  font-weight: bold;
  color: rgb(188, 190, 190);
}

.info-banner {
  background-color: #ed564b;
  color: white;
}
.link-body-text {
  color: rgb(188, 190, 190);
}
.links-body a {
  text-decoration: none;
  color: rgb(188, 190, 190);
}

.text-highlight {
	color: #ed564b;
}

footer {
	background-color: #292929;
	color: white;
}

.container {
	box-sizing: border-box;
	margin: 0;
	padding-left: 20vw;
}
