body {
  font-family: 'Sedgwick Ave Display', cursive;
}

.header-bar {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.red-bar {
  height: 314;
  width: 100%;
  background-color: #ed564b;
}

.red-bar h3, .red-bar p {
  color: white;
  text-align: center;
}

.red-bar p {
  margin-bottom: 40px;
}

span {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 5px solid #fff;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 35px;
  line-height: 65px;
  margin-top: 34px;
}

.glyphicon {
  color: white;
}

.last-projects{
  margin-top: 40px;
  margin-bottom: 40px;
}

.car-last-projects h3 {
  text-align: center;
}

.img-responsive {
  cursor: pointer;
  max-height: 170px;
  border: black solid 1px;
}

.second-row {
  margin-top: 20px;
}

footer {
  background-color: #606060;
}

post-footer {
  background-color: #3b3b3b;
}
