body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ccv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.gired
{
    font-size: 2em;
}

.gibigger{
    font-size: 3em;
}

#header{
    background-color: white;
    height: 13vh;

}

#header h1{
    font-weight: bolder;
}

#header li{
    display: inline;
    margin: 1%;
}

#bigImage{
    height: 75vh;
    background-image: url("../starter-code/img/slider-1.jpg");
    background-blend-mode: luminosity;
    color: white;
    background-color: grey;
}

#bigImage .block{
    background-color: red;
height: 20%;
width: 30%;
position: absolute;
}

#bigImage #leftBlock{
    left:0%;
}

#bigImage #rightBlock{
    right:0%;
}

#bigImage .block span
{
transform: translate(10%, 55%);
}

.overlay{
    background-image: url("../starter-code/img/overlay.png");

}

#redBar{
    background-color: red;
    height: 45vh;
    color: white;
}   



#projectsTitleBar{
    background-color: white;
    height: 20vh; 
}

#projects{
    background-color: white;
    height: 50vh;
}   

#articlesTitleBar{
    background-color: white;
    height: 20vh; 
}

#articles{
    background-color: white;
    height: 60vh;
}  

img
{
    width: 100%;
}

#footer{
    background-color: grey;
    height: 50vh;
}   

#copyrightBar{
    background-color: black;
    height: 10vh;
}   