.header {
    /*width: 100%;
    height: 100px;*/
    background-color: white;
}

.header__nav {
    padding: 2.5rem 1rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-evenly;

}

.header__nav__webname {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.header__nav__menu {
    display: inline-flex;
    margin-top: 0.5rem;
}

.header__nav__menu a {
    color: grey;
    list-style: none;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0 5px;
}

/* .section1 {
    height: 550px;
    background-repeat: no-repeat;
    background-image: url(../starter-code/img/slider-4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section1__background {
    width: 700px;
    height: 262px;

}

.section1__background__title {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.section1__background__text {
    color: white;
    font-size: 0.9rem;
    align-content: center;
    padding: 0.6rem 0;
    line-height: 1.5rem;


}

.section1__background__button {
    background-color: transparent;
    padding: 0.3rem;
    align-items: center;
    border: 0.1rem solid white;
    padding: 0.6rem 0.6rem;
}

.section1__background__button__text {
    color: white;
    text-decoration: none;
    font-weight: bold; 

}

 .section2 {
    height: 300px;
    background-color: #f4473a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.section2__card {
    width: 400px;
    height: 250px;
    padding
}

.section2__card__title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    ;
}

.section2__card__text {
    color: white;
    font-size: 0.9rem;
    align-content: center;
    padding: 0.6rem 0;
    line-height: 1.3rem;
} 

 .fa-glass-martini {
    height: 2.5rem;
    color: white;
    padding-bottom: 0.6rem;
}

.fa-star {
    height: 2.5rem;
    color: white;
    padding-bottom: 0.6rem;
}

.fa-heart {
    height: 2.5rem;
    color: white;
    padding-bottom: 0.6rem;
} 

 .section3 {
    height: auto;
    width: auto;
    background-color: white;

}

.section4 {
    width: 100%;
    height: 550px;
    background-color: white;
}

.section3__title,
.section4__title {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    padding-top: 2rem;
    text-transform: uppercase;
    margin-left: 4.2rem;
}

.section3__subtitle,
.section4__subtitle {
    font-size: 1rem;
    color: #AAAA;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
    margin-left: 4.2rem;
}

.section3__cards__container,
.section4__cards__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center;
}

.section3__card,
.section4__card {
    width: 270px;
    height: 225px;
}

.section3__card__img,
.section4__card__img {
    width: 270px;
    height: 180px;
}

.section3__card__text {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;

}

.section4__card__title,
.section4__card__text {
    color: black;
    font-size: 0.8rem;
    text-align: left;
    justify-content: center;
}

.section4__card__subtitle {
    font-size: 0.8rem;
    color: #AAAA;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;

} 


.footer {
    background-color: #292929;
}

.footer__cards__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;

}

.footer__card {
    width: 270px;
    height: auto;
}

.footer__card__title {
    color: white;
    padding: 2rem 0;
    text-align: left;
}

.footer__card__content {
    color: #AAAA;
    font-size: 0.8rem;
    text-align: left;
    justify-content: center;
    line-height: 1rem;
}

.footer__card__list {
    list-style: none;
    text-align: left;
    margin-bottom: 1rem;
}

.footer__card__list__name {
    color: #AAAA;
    font-size: 0.8rem;
    text-decoration: none;
} */