.section3 {
    height: auto;
    width: auto;
    background-color: white;
}

.section4 {
    width: 100%;
    height: 550px;
    background-color: white;
}

.section3__title,
.section4__title {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    padding-top: 2rem;
    text-transform: uppercase;
    margin-left: 4.2rem;
}

.section3__subtitle,
.section4__subtitle {
    font-size: 1rem;
    color: #AAAA;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
    margin-left: 4.2rem;
}

.section3__cards__container,
.section4__cards__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center;*/

}

.section3__card,
.section4__card {
    width: 270px;
    height: 225px;
}

.section3__card__img,
.section4__card__img {
    width: 270px;
    height: 180px;
}

.section3__card__text {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;

}

.section4__card__title,
.section4__card__text {
    color: black;
    font-size: 0.8rem;
    text-align: left;
    justify-content: center;
}

.section4__card__subtitle {
    font-size: 0.8rem;
    color: #AAAA;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
}