header {
  padding: 0 40px;
}

#navbar {
  background-color: white !important;
}
#navbar-list {
  margin-right: 50px !important;
}
.navbar-brand {
  font-weight: bold;
  font-size: 23pt;
}
#nav-color {
  color: red !important;
}
#navbarSupportedContent {
  display: flex;
  justify-content: center;
}

.btn.btn-light {
  background-color: rgba(240, 248, 255, 0);
  border-radius: 0;
  padding: 5px 20px !important;
}

.carousel-inner {
  margin: 0 !important;
}
.carousel-control-prev {
  display: flex;
  justify-content: flex-start;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 30px 30px;
  background-color: #dc6052;
}
.carousel-control-next {
  display: flex;
  justify-content: flex-end;
}
.d-block,
.w-100 {
  filter: grayscale(100%);
}

.d-flex,
.flex-row {
  background-color: #dc6052;
  justify-content: center;
  padding: 30px 50px;
  text-align: center;
  color: white;
}

.grid-container {
  margin: 40px;
}
.container,
.text-center {
  max-width: 100%;
  margin: 0;
}
.grid-container h4 {
  color: rgb(166, 166, 166);
}
.grid-container img {
  filter: none;
}
.heading {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(208, 208, 208);
}
.row,
.ow-cols-4 {
  margin: 30px 0;
}
.col {
  margin-top: 20px;
}
.col1 {
  margin-top: 20px;
  font-weight: bold;
  text-align: left;
}
.col2 {
  margin-top: 20px;
  text-align: left;
}
.col3 {
  margin-top: 20px;
  text-align: left;
}

.p-3,
.mb-2,
.bg-secondary,
.text-white {
  border-top: 6px solid#dc6052;
}
.float-start,
.border-bottom {
  width: 400px;
}
.float-end {
  text-align: left !important;
}
.padding {
  padding-left: 50px;
}
.p-3,
.mb-2,
.bg-secondary,
.text-white {
  margin-bottom: 0 !important;
}

.card-body {
  background-color: rgb(46, 46, 46);
}
