.top {
    background-color:#FF6347;
}

.section3{
    color: white;
    text-align: center;
}

.img-sec-4{
    max-height: 25%;
}

h4 {
    margin-top: 5%;
}

.footer {
    background-color: 	#696969 ;
}

h5 {
    color: white;
}
/* 
.black-footer {
    background-color: black;
} */



