#header {
}

#header h1 {
  text-align: center;
}

#navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#carousel-container {
  background: #000;
}

#features-container {
  background: #ed564b;
}

#latest-projects-container {

}

#bottom-nav-container {
  background: #3b3b3b;
}

#footer {
  background: #292929;
}

.row {
  height:
}
