@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');

body{
    font-family: 'Oxygen';
    font-size: 14px;
}

.container{
    max-width: 880px;
}

.overlay{
    background-image: url("../img/overlay.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel{
    display: flex;
    align-items: center;
}


.carousel-item img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.carousel-control{
    width: 56px;
    height: 96px;
    background-color: #f4473a;
    color: white;
    opacity: 1;
    top: 50%;
    margin-top: -28px;
}

.carousel-caption{
    margin-bottom: 32px;
}

.carousel-caption h2{
    text-transform: uppercase;
    font-size: 40px;
}

.carousel-caption p{
    margin-bottom: 32px;
}

.btn-line{
    border: 1px solid white;
    color: white; 
    background-color: rgba(255,255,255, 0.2);
    padding: 8px 24px;
    text-transform: uppercase;
}

.btn-line:hover{
    color: white;
    text-decoration: none;
}


header{
    display: flex;
    align-items: center;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 a{
    color:#222;
    text-transform: uppercase;
    font-weight: 700;
}

header h1:hover a{
    text-decoration-line: none;
    color: #222;
}

header .menu{
    margin: 0;
    padding: 0;
}

header .menu li{
    margin-right: 16px;
}

header .menu li a{
    color: grey; 
    transition: color .3s;
}

header .menu li:hover a{
    color: #f4473a;
    text-decoration: none;
}

header .menu .current{
    color: #f4473a;
}

header .menu li:last-child{
    margin-right: 0;
}


header .menu > li{
    display: inline-block;
    list-style:none;
    position: relative;
}

header .submenu{
    position: absolute;
    background:white;
    color: grey;
    padding: 16px 4px;
    box-shadow: 0 0 3px grey;
    z-index: 2;

    opacity: 0;
    transition: all 0.5s;
}

header .submenu li{
    list-style: none;
    border-bottom: 1px solid grey;
}

header .menu li.parent:hover .submenu{
    opacity: 1;
}

#services{
    background-color: #f4473a;
    padding: 64px 0;
}

#services .col > *{
    text-align: center;
    color: white;
}

#services .item h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

#services .item p{
    display: inline-block;
}

#services .item a{
    color: #f4473a;
    transition: color 0.3s;
    display: inline-block;
}

#services .item:hover a{
    color: #222;
}

.icon-circle{
    border: 6px solid white;
    border-radius:50%;
    padding: 32px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

