.header {
  margin: 0 auto;
}

.icon-text {
  text-align: left;
  padding: 10px 50px;
  font-weight: bold;
}

.menu-bar {
  padding: 15px;
}

.slider {
  padding: 0;
}

.carousel-inner {
  width: 100%;
  max-height: 500px !important;
}
.icons-3 {
  padding: 40px 0px;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
  color: white;
  text-align: center;
  padding: 40px;
  line-height: 1.6;
}

.circle-icon {
  border: 5px solid white;
  padding: 20px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 1.8rem;
}

.projects-class {
  padding: 40px;
}

.latest-class {
  text-transform: uppercase;
}

.latest-class > h2 {
  color: black;
  font-weight: bolder;
  font-size: 24px;
}

.latest-class > p {
  color: #ccc;
  font-weight: bold;
}

.overlay {
  background: url(../img/overlay.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none; /* DGG: Para poder pinchar en los botones laterales del slider */
}

.posted {
  color: #606060;
  padding: 5px 0;
}

.red-letter {
  color: #f4473a;
}


.footer-1 {
  /*background-color: #606060;*/
  color: white;
  padding: 40px;
  background-color: #3b3b3b;
  border-top: 5px solid #ed564b;
}

.footer-1 p, .footer-1 li {
  color: #AAA;
  padding: 7px 0;
}

.footer-1 a {
  color: #AAA;
  text-decoration: none;
}

.footer-1 a:hover {
  color: white;
}

.separator {
  border-bottom: dotted 1px #AAA;
}

.footer-2 {
  background-color: #333;
  color: #eee;
  padding: 20px;
}


