
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 400px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

.navbar {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	background-color: #fff !important;
	border-color: #fff !important;
}



.carousel-inner img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.circulo {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 5px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}
.circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.containter-first p {
	margin-top: 10px;
}

span {
	padding-top: 10px;
}


.first-container {
	background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
	padding: 25px 0 25px 0;
}

.first-content p {
    color: white;
}

.first-content h2 {
    color: white;
}

.fa-glass{
	color: white;
}

.fa-star{
	color: white;
}

.fa-heart{
	color: white;
}

h3, h4{
	text-transform: uppercase;
}

h4 {
	color: lightgray;
}

.hometa {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.prefooter{
	padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
	color: white;
}

.prefooter p{
	color: #aaa;
}

.container h3 {
	font-size: 24px;
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
}

.container h4 {
	font-weight: bold;
	color: #aaa;
	padding-bottom: 20px;
}


.list {
	color: #aaa;
    text-decoration: none;
    padding: 7px 0px 7px 0px;
    display: block;
}

.list hr {
	margin-bottom: 3px;
	margin-top: 3px;
	border-top: 1px dotted #aaa;
}

footer {
	padding: 10px 0px;
    background: #292929;
	font-size: 12px;
	color: white;
}