.header{
  background-color: #FFF;
  height: 90px;
}

.title{
  color: #000000;
  text-align: center;
}

.menu{
  text-align: center;
  height: 100%;
}

.color-primary, .menu > ul > li:hover{
  color: #ED564B;
}

.menu > ul{
  display: inline-block;
  vertical-align: middle;
  list-style:none;
  margin-top: 15px;
}

.menu > ul > li{
  display: inline-block;
  padding: 15px;
}


.slide{
}

.overlay{
  width: 100%;
  height: 100%;
  background-image: url(../img/overlay.png);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.carousel-indicators{
  z-index: 200;
}

.carousel-control{
  z-index: 300;
  width: 4%
}

.carousel-caption{
  z-index: 400;
}

.photo-slide > img{
  width: 100%;
  filter: grayscale(100%);

}

.skills{
  background-color: #ED564B;
  height: 320px;
  border-top: 4px solid #F96B61;
  border-bottom: 4px solid #F96B61;
}

.skill-element{
  text-align: center;
  padding: 40px;
}

.icon-assets{
  color: #FFF;
  font-size: 1.8rem;
  border-radius: 50%;
  border: 5px solid #FFF;
  padding: 20px;
}

.skill-title{
  color: #FFF;
  font-size: 2.5rem;
  padding: 10px;
  font-weight: bold;
}

.skill-text{
  color: #FFF;
}

.info-page{
  background-color: #FFF;
  height: 800px;
}

.footer{
  background-color: #3B3B3B;
  border-top: 4px solid #ED564B;
  height: 400px;
}

.legal{
  background-color: #292929;
  height: 60px;
}
