.bg-revena {
  background: rgb(255, 94, 0);
}

.no-border {
  border: none;
}

.carousel-revena{
    width: 30px;
    height: 50px;
    top: calc(50% - 25px);
    opacity: 1;
}

.black-and-white{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.big-icon{
  position: relative;
  
}

.small-icon{
  position: absolute;
  top: 40%;
  left: 47%;
  font-size: 20px;
}