body {
  color: #606060;
}
.rojo {
  background-color: #ed564b;
  padding: 40px 0px;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
  height: 300px;
}
.backgroundblack {
  background-color: #3b3b3b;
  border-top: 5px solid #ed564b;
  color: white;
}
.carrusel img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.btn {
  border-radius: 0%;
  border: white;
  color: white;
  font-weight: bold;
  background-color: transparent;
  padding: 14px 20px;
}
.glyphicon {
  color: white;
}
img-circle {
  border: 5px solid white;
}
a:link {
  color: black;
  font-weight: bold;
}
a:hover {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.trojo {
  color: red;
}
