body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$website-red: #f4473a;

.container-fluid {
  overflow: hidden;
}

.col-md-4 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav {
  max-width: 940px;
  margin: auto;
  h1 {
    font-weight: 700;
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
    padding: 2em;
    margin-bottom: 0;
    li {
      display: inline;
      a {
        padding: 8px 10px;
        color: #606060;
        &:hover {
          color: #f4473a;
          text-decoration: none;
        }
      }
    }
  }
}

nav.row {
  margin: auto;
}
.carousel {
  overflow: hidden;
}

.carousel-item {
  img {
    opacity: 0.8;
  }
}

.whatwedo {
  padding: 3em 4em;
  text-align: center;
  color: white;
  background-color: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
}

.posts {
  width: 87%;
  margin: auto;
  padding: 5em 0;
  h2, p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
    margin: 0 15px;
  }
  p {
    color: #aaa;
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
  }
}

.icon {
  border-radius: 50%;
  border: 5px solid white;
  width: 75px;
  height: 75px;
  margin: auto;
}
.glyphicon {
  font-size: 24px;
  text-align: center;
  line-height: 65px;
}
.portfolioitems {
  padding: 30px 0;
  p {
    color: black;
    font-size: 13px;
    margin: 0;
    padding-top: 15px;
    border-bottom: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.latestprojects {
  padding-bottom: 40px;
}

.latestarticles {
  h5 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
  }
}

.col-md-3 p:nth-child(3) {
  text-transform: uppercase;
  text-align: left;
  color: #606060;
  font-weight: 600;
  font-size: 12px;
  padding-top: 0;
}
.col-md-3 p:nth-child(4) {
  text-align: left;
  color: #606060;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  padding-top: 0;
}

.red {
  color: $website-red;
}

.footer-bckgrd {
  background-color: #3b3b3b;
  border-top: 5px solid #ed564b;
}

footer {
  color: #aaa;
  width: 87%;
  margin: auto;
  padding: 3em 0 4em 0;
  h3 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 16px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      border-bottom: 1px dotted rgba(255,255,255,.2);
      padding: 8px 0;
      a {
        color: #aaa;
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.copyright {
  background-color: #292929;
  font-size: 12px;
  padding: 2em 0;
}

.copyright p {
  color: white;
  margin: 0;
}
