nav > a:first-child {
  font-size: 2em;
  font-weight: bold;
  margin: 0 75px;
}

.carousel-item > img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.color-button {
  padding: 20px 10px;
  border-spacing: 10px;
  background: rgba(250, 128, 114, 1);
}

.learn-more {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 30px;
}

#areas {
  background: rgba(250, 128, 114, 1);
  color: white;
  padding: 30px 0;
}

#projects {
  margin-top: 30px;
}

#articles {
  margin: 30px auto;
}

span {
  color: rgba(250, 128, 114, 1);
}

.project, .article, .area, .menu-item {
  margin-bottom: 15px;
}

body > hr {
  background: rgba(250, 128, 114, 1);
  margin: 0;
  height: 3px;
}

footer {
  background: gray;
  color: white;
}

#footer-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

#copyright {
  background: dimgray;
  padding: 10px 0;
}

li {
  border-bottom: 1px dashed white;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

