* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 html {
  font-size: 16px;
}

:root {
  --main-bg-color: coral;
  --white: #ffffff;
  --black: #000000;
  --coral: #ed564b;
  --light-grey: #aaaaaa;
  --grey: #3b3b3b;
  --dark-grey: #292929;
}

.clear-mb {
  margin-bottom: 0;
}

.clear-pb {
  padding-bottom: 0;
}

.clear-side-p {
  padding-right: 0;
  padding-left: 0;
}

.title {
  text-transform: uppercase;
}
.subtitle {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--light-grey);
}
h3.title {
  font-size: 1.2rem;
}
.header {
  background-color: var(--white);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.brand {
  color: var(--black);
  padding: .5rem 6.25rem .5rem 0;
}

.nav-link {
  color: var(--black);
}

.nav-link.active {
  color: var(--coral);
}

.marketing {
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 1.5rem;
  background-color: var(--coral);
  color: var(--white);
}

.custom-container {
  max-width: 70%;
  margin: 0 auto;
}

.articles {
  max-width: 65%;
  padding-top: 2rem;
  margin: 0 auto;
}

.heading {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--light-grey);
}

.cards {
  padding-top: 2rem;
}

.custom-card:not(:last-child) {
  padding-right: 1rem;
}

.card-title {
  margin-bottom: .75rem;
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-two-title {
  margin-bottom: .75rem;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: bold;
}
.card-info {
  text-transform: uppercase;
  color: var(--light-grey);
}

.red {
  color: var(--coral);
}

.footer {
  background-color: var(--grey);
  color: var(--light-grey);
  border-top: 0.3125rem solid var(--coral);
  padding-top: 4rem;
}

.footer-title {
  font-size: 1rem;
  font-size: bold;
  text-transform: uppercase;
}

.footer-data {
  border-bottom: 1px dotted var(--light-grey);
  padding-bottom: 12px;
}

.underline {
  border-bottom: 1px dotted var(--light-grey);
  padding-bottom: 5px;
}

.footer-copy {
  background-color: var(--dark-grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.custom-col {
  padding-right: 15px;
  padding-left: 15px;
}
