.img {
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 200px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}