.carousel img {
    filter: grayscale(100%);
}

#article{
    padding:50px;
   }

span i {
    border: 5px solid #fff;
    background: transparent;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: block;
    line-height: 60px !important;
    text-align: center;
    margin: 20px auto;
    font-size: 20px !important;
}

.section.hero {
    text-align:center;
}

.card-content {
    padding: 30px 0;
}


#lineas {
    display: flex;
    flex-direction: column;
    line-height: 2.2em;
    font-size: 0.8em;
    line-height: 1.1em;
}
#lineas a {
    border-bottom: 2px dotted rgb(202, 202, 202);
    width: 100%;
    margin-bottom: 2vh;
    padding: 5px 0;
}

#lineas h3 {
    margin-bottom: 5vh; 
}

#footer-section {
    border-top: 4px solid red
}

footer{
    height: 2vh;
    font-size: 0.8em;
}

.carousel-caption {
    background-image: url(starter-code/img/overlay.png);
    margin-bottom: 12%;
}

.carousel-control-next, .carousel-control-prev {
    width: 45px;
    opacity: 1;
    height: 90px;
    background:#e5495d;
    top: 45%;
 }