body {
background-color: white;
}

.containerbar{
   position: relative;
   margin-top: 20px;
}

.h1{
    text-transform: uppercase;
    font-weight: 1000;
    margin-top: 25px;
}

.navbar{
    margin-left: 50px;
    margin-bottom: 50px;
}
.container-webs{
    padding: 40px 0px;
    background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    align-items: center;
}

.container-infoweb{
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
    color: white;
}

.container-copyright{
    padding: 10px 0px;
    background: #292929;
    font-size: 12px;
}

.flexslider .List-slides img {
    width: 100%;
    display: block;
}

.garro1{
    display: inline-block;
    height: auto;
    max-width: 100%;
}
h1 {
    margin-left: 10px;
}

h4{
    font-size: 1.5em;
    color:black;
}

h4{
    font-size: 1em;
    color:grey;
}

h5{
    font-size: 1.2em;
    color:grey;
}