html, body{
   height: 100%;
   width: 100%;
}
.overlay{
   border: 1px solid green;
   height: 100%;
}

#slides img{
   filter: grayscale(100%);
}

.navlist{
margin-right: 330px;
}

#navbarResponsive a:hover{
   color: #f4473a;
}

.navbar-brand{
   margin-left: 90px;
}

.carousel-item h1{
   font-weight: 300;
   margin: 20px 60px;
   text-transform: uppercase;
   font-size: 45px;
}

.carousel-item p{
   text-align: center;
   margin: 0px 160px 20px 160px;
   font-size: 15px;
}

.btn-outline-light {
   width: 250px;
}

.carousel-control-next{
   width: 5%;
   opacity: 1;
   background-color: #f4473a;
}

.carousel-control-next:hover{
   background-color: white;
}

.carousel-control-next-icon{
   width: 30px;
   height: 30px;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon:hover{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f4473a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev{
   width: 5%;
   opacity: 1;
   background-color: #f4473a;
}

.carousel-control-prev:hover{
   background-color: white;
}

.carousel-control-prev-icon{
   width: 30px;
   height: 30px;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon:hover{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f4473a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.three-column{
   color: #ffffff;
   border-top: 4px solid #f96b61;
   background-color: #f4473a;
   border-bottom: 4px solid #f96b61;
}

.fa-star, .fa-glass, .fa-heart{
   padding-top: 20px;
   margin: 50px 0px 20px 0px;
   width: 80px;
}
.three-column i{
   border-radius: 50%;
   height: 70px;
   width: 70px;
   border: 5px solid white;
}
.three-column p{
   margin: 0px 30px 70px 30px;

}

.project img{
   height: 150px;
   width: 100%;
margin-bottom: 20px;
}

.article img{
   height: 150px;
   width: 100%;
   margin-bottom: 20px;
}

.latest-projects {
   margin-bottom: 20px;
}

.latest-projects h3{
   font-size: 14px;
   text-align: center;
}

.latest-projects a{
   text-decoration: none;
   color:black;
}

.latest-articles{
   border-bottom: 4px solid #f4473a;

}

.latest-title{
   margin-bottom: 15px;
}

.latest-articles h3{
   font-size: 18px;
   text-align: left;
}
.latest-articles a{
   text-decoration: none;
   color:black;
}

.latest-articles h5{
   margin-top: 10px;
   margin-left: 3px;
  font-size: 13px;
  margin-bottom: 25px;
}

.latest-articles p{
   text-align: initial;
   font-size: 15px;
   margin-bottom: 70px;
}

.post-link{
   text-align: initial;
   font-size: 15px;
}

.author a{
   text-align: left;
   text-decoration: none;
   color:#f4473a;
}

.author a:hover{
color:#000;
}

.posted a{
   text-align: left;
   text-decoration: none;
   color:#f4473a;
}

.posted a:hover{
color:#000;
}

.text-post{
   font-size: 13px;
   text-align: left;
   margin-bottom: 30px;
   margin-right: 30px;
}
.meta{
   background-color:  #333;
}

.meta-info{
   padding-top: 50px;
   margin: 0px 30px 0px 30px;
   color: white;
   background-color: #333;
}

.meta-item ul{
   font-size: 15px;
   padding: 0;
   text-align: left;
   list-style-position: left;
}

.meta-item li{
   list-style: none;
   padding: 7px 0 7px 0;
   border-bottom: 1px solid white;
   border-bottom-style: dashed;
   margin: 10px 0px 10px 0px;
}

.meta-item a{ 
   text-decoration: none;
   color: white;
   line-height: 1.2;
}

.copyR{
   height: 100px;
   padding-top: 30px;
   background-color: #000;
   color: white;
   line-height: 0.7;
}

.copyR a{
   text-decoration: none;
   color: white;
}

@media (min-width: 1200px){
.carousel-control-next{
   margin: 270px 0;
   width: 3%;
}
   .carousel-control-prev{
      margin: 270px 0;
      width: 3%;
   }

   .project img{
      height: 150px;
      width: 260px;
   margin-bottom: 20px;
   }
   .article img{
      height: 150px;
      width: 260px;
      margin-bottom: 20px;
   }
   .projectRow{
      margin: 0px 90px;

   }
   
   .articlesRow{
      margin: 0px 90px;
   }
}
