img {
    width: 100%;
}

.nav-bar {
    margin-top: 70px;
    margin-bottom: 20px;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.home-link a {
    color: #ed564b
}

.banner {
    background-image: url(../lab-bootstrap-cloning-revera/starter-code/img/overlay.png), url(../lab-bootstrap-cloning-revera/starter-code/img/slider-1.jpg);

    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    filter: grayscale(100%);
    height: 550px;
}

.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    color: white;
}

.widgets-section {
    background-color: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    padding: 40px 0px;
    color: white;
}

.widgets-section article {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    margin: 35px auto;
}

.content-title {
    display: flex;
    flex-direction: column;
}

.content-title h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.content-title h4 {
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    font-size: 14px;
}

.content h5 {
    font-weight: 600;
    font-size: 1.2em;
}

.content p {
    margin-top: 15px;
}

.content h6 {
    text-transform: uppercase;
    color: gray;
    font-weight: 600;
}

.page-info {
    background-color: #3b3b3b;
    border-top: 5px solid #f96b61;
    color: rgb(151, 151, 151);
}

.page-info article {
    margin: 40px 0;
}

.page-info h4 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.page-info a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.page-info ul {
    padding-left: 0;
}

.page-info ol {
    padding-left: 0;
}

.page-info li {
    text-decoration: none;
    list-style-type: none;
    color: rgb(151, 151, 151);
}

.page-info hr {
    border: 0.2px dotted rgb(151, 151, 151);
    margin: 5px auto;
}

footer {
    background-color: #292929;
    padding: 10px 0px;
    color: white;
} 