* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navBar {
    display: flex;
    align-items: center;
  }
  
  h3 {
    margin-right: 200px;
    font-size: 24px;
  }
  
  .navBar div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin-right: 20px;
  }
  
  a {
    color: gray;
    text-decoration: none;
    font-size: 12px;
  }
  
  .slider {
    height: 55vh;
    background-color: brown;
    overflow: hidden;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-item {
    transition: transform 2s ease, opacity 0.5s ease-out;
  }
  
  .carousel-item h1,
  p {
    color: white;
  }
  
  .carousel-item img {
    filter: grayscale(100%);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: red;
    height: 100px;
    width: 50px;
    color: white;
  }
  
  .carousel-control-next {
    padding: 0px;
  }
  
  .readButton {
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
  
  .banners {
    height: 30vh;
    background-color: orangered;
  }
  
  .projects {
    height: 95vh;
    background-color: bisque;
  }
  
  .contactInfo {
    height: 30vh;
    background-color: darkslategray;
  }
  
  .orange {
    height: 5px;
    background-color: orangered;
  }
  
  .bottom {
    height: 20%;
    background-color: #3b3b3b;
  }
  
  .ulBottom {
    display: flex;
    flex-direction: column;
  }
  
  .h3Bottom {
    color: white;
    padding-top: 30px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  
  .bottom p {
    color: lightgrey;
  }
  
  .bottom a {
    text-decoration: none;
    color: lightgrey;
    text-align: justify;
  }
  
  .bottom hr {
    color: white;
  }
  
  .footer {
    background-color: #292929;
    height: 8svh;
    color: white;
    font-size: 13px;
    text-decoration: none;
  }
  
  .divFooter {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  
  footer a {
    text-decoration: none;
  }
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    background-color: white;
    color: black;
    height: 300px;
  }
  
  .projectIMG {
    width: 320px;
    height: 200px;
  }
  
  .card3 {
    padding: 10px;
    text-align: center;
    color: black;
  }
  
  .card3 > p {
    padding: 20px;
    color: black;
  }
  .title {
    background-color: white;
    padding-top: 50px;
    padding-left: 170px;
  }
  
  h4 {
    padding-bottom: 10px;
  }
  
  .articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    background-color: white;
  }
  
  .articlesIMG {
    width: 300px;
    height: 180px;
  }
  
  .card2 p {
    padding: 10px;
    text-align: left;
    color: black;
  }
  
  .card2 span {
    width: 70%;
  }
  
  hr {
    width: 80vw;
    color: black;
  }
  
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 0;
  }
  
  .title p {
    color: black;
  }
  
  .hrbottom{
    width: auto;
  }

  .web{
    background-color: rgb(235, 88, 72);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
  }

  .card4{
    padding: 100px;
    text-align: center;
    color: white;
  }
  .card4 svg{
    height: 50px;
  }