img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

header a {
    justify-content: flex-end;
    text-decoration: none;
    color: black;
}

header ul {
    display: flex;
    margin: 10px 0px 15px;
}

header li {
    margin-left: 10px;
    list-style: none;
}

.red-box {
    background-color: #ed564b;
    color: white;
    padding: 6vh 0;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
}

.carousel {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    color: white;
    background-size: cover;
}

.carousel h1 {
    text-align: center;

}

.logo {
    font-size: 40px;
}

.enlace-box a {
    text-decoration: none;
    list-style: none;
}

.logo-box a {
    text-decoration: none;
    list-style: none;
}

.enlace-box {
    background-color: rgb(59, 59, 59);
    border-bottom: 1px dashed;
    color: white;
    text-decoration: none;
    list-style: none;

}

.boxx {
    padding: 30px;
}
.carousel-caption {
    position: absolute;
    right: 25%;
    bottom: 2rem;
    left: 25%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #fff;
    text-align: center;
}
