
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    align-content: space-around;
    padding: 10px 30px 10px 30px;
}

.title{
    padding: 0 200px 0 300px;
}

.title p{
    margin: 0;
}

.title a{
    font-size: 2.5em;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

h2{
    font-weight: bold;
}
.latArticles h3{
    margin-top: 14px;
    font-weight: bold;
    font-size: 1em;
}
.bottom h3{
    color: white;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    list-style-type: none;
    margin: 0 10px;
}

header ul li a:hover{
    color: #F96B61;
    outline:none;
    text-decoration: none;
}

.slider{
    background-image: url(/starter-code/img/slider-1.jpg);
    filter: grayscale();
    background-size: cover;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2.5em;
    font-weight: 400;
    width: 60%;
    color: white;
}

.subtitle{
    color: white;
    width: 50%;
    text-align: center;
}

.button{
    color: white;
    border: 1px solid white;
    padding: 5px 40px;
}
.red-background {
    background-color: #ED564B;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    border-bottom: 8px solid #F96B61;
}

.red-background article{
    text-align: center;
    width: 30%;
}

.red-background img{
    -webkit-filter: invert(1);
   filter: invert(1);
   padding: 15px;
   border: 3px solid black;
   border-radius: 50%;
}

.latArticles hr, .latProjects hr{
    border-top: 1px solid #AAAAAA
}
.bottom hr {
    border-top: 1px dotted #AAAAAA;
}

.latProjects {
    margin: 70px 0 30px;
}
.projectsArticles img{
    width: 100%;
}

.imgArticles{
    width: 100%;
}
.projectsArticles p{
    font-weight: bold;
    font-size: .8em;
    text-align: center;
}

.description {
    text-transform: uppercase;
    font-weight: bold;
    color: #B3B3B3;
}
.latArticles{
    border-bottom: 8px solid #F96B61;
    padding-bottom: 50px;
}

.date{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    color: #606060;
}

.red{
    color: red;
}

.bottom {
    background-color: #3B3B3B;
    color: #AAAAAA;
    padding-top: 30px;
}

.bottom a{
    color:#AAAAAA;
}

footer {
    background-color: #2A2A2A;
    padding: 19px 50px;
    color: white;
}

