
body {
    font-size : 11px;
    font-family :Arial, Helvetica, sans-serif;
    
}

h5{
    color :grey;
    font-size :16px
}

h3{
    font-weight: bold;
    font-size : 20px
}

header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-size : 25px;
    color : black;
    margin-top :25px;
}

.home {
    color: red;
    font-size:  16px; 
}


.nav-link {
    color : rgb(19, 17, 17);
    font-size : 16px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: red;
    height : 60px;
    margin-top :150px;
} 

.grey {
    -webkit-filter: grayscale(100%);
}

#carrousel-bottom {
    background-color: red;
    color : white;
    padding-top: 30px;
    height : 300px
}

.card-text-black {
    font-weight: bold;

}

footer {
    background-color: black;
    color: white;
      
}

#bottom {
    background-color: grey;
}

.links {
    list-style: none;
}

.card-bottom {
    margin-top: 20px;
}




