footer {
      section {
            padding:initial;
      }
      .footer-main {
            border-top: 5px solid #ed564b;
            background: $dark-grey;
            padding: 30px 0;
            .container {
                  h4 {
                        color: white;
                        font-size: 1rem;
                        font-weight: 700;
                        margin-bottom: 25px;
                  }
                  p,li,a {
                        color: $grey;
                        font-size: .8rem;
                  }
                  ul {
                        list-style: none;
                        padding: 0;
                        li {
                              border-bottom: 1px solid #ffffff17;
                              padding-bottom: 7px;
                              margin-bottom: 8px;
                        }
                  }
            }
      }
      .footer-bottom {
            background: $dark-black;
            padding: 15px 0;
            .container {
                  p {
                        margin-bottom: 3px;
                        line-height: 15px;
                  }
                  small {
                        color: white;
                        font-size: .65rem;
                        i {
                              margin: 0 5px;
                        }
                  }
            }
      }
}