.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}
