.widgets {
    padding: 40px 0px;
    background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
}

.colorred {
    color: #ed564b;
    background-color: #ed564b;
}
.mrgtop {
    margin-top: 50px;
}

#bottom {
    padding: 20px 0px 40px 0px;
    border-top: 5px solid #ed564b;
    
}

.bottomclr {
    background-color: #3b3b3b;
}

.site-footer {
    padding: 10px 0px;
    background: #292929;
    font-size: 12px;
}