/* Fonts - Arial, Helvetica, sans-serif */

/* Colours - border hight light  #f96b61 (pink) #ED564B (dark grey) 
contact  #3B3B3B (grey) text / hr #AAAAAA (black) footer #292929 */

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.debug {
  border: 1px solid red;
}

.main-content {
  padding: 0;
}

@media only screen and(max-width: 480) {
  body: {
    height: 100%;
  }
}
