%sections-latest {
    padding-top: $defaul-space * 2;

    &:last-of-type {
        padding-bottom: $defaul-space * 2;
    }

    h3 {
        font-size: 1.714rem;
        color: $link-fourth;
        font-weight: 700;
        margin-bottom: 0.357rem;
    }

    p {
        font-weight: bold;
        border-bottom: 1px solid $ligth-grey;
        color: $middle-grey;
        padding-bottom: $defaul-space;
    }

    article {
        h5 {
            font-size: 1rem;

            a {
                display: block;
                font-weight: 700;
                color: $link-fourth;
                font-size: 1rem;
                margin-top: $defaul-space;
                margin-bottom: $defaul-space / 2;
            }
        }

        p {
            color: $text-fifty;
            border-bottom: 0px;
            padding-bottom: 0;
        }
    }
}