* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(51, 49, 49);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
}

.box {
  max-width: 20vw;
  justify-content: center;
  padding-left: 3vw;
  margin: auto;
}

.icons {
  max-width: 50px;
}

.project {
  padding-top: 40px;
  width: 90vw;
  margin: auto;
}

.grey {
  color: grey;
}

.project-img {
  padding-top: 10px;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.img {
  max-width: 20vw;
  padding: 10px;
  margin: auto;
}

.description {
  padding: 15px;
}

.bottom {
  background-color: rgb(51, 49, 49);
  color: white;
}

.bottom-text {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: left;
  max-width: 90vw;
}

.bottom-t {
  max-width: 40vw;
  padding: 30px;
}

.meta-link {
  color: white;
  text-decoration: none;
}

.footer {
  color: white;
  background-color: rgb(27, 27, 27);
}

.footer-text {
  max-width: 90vw;
  padding-left: 60px;
}
