
//--------------- FOOTER ----------------

footer
  background-color: $grey-dark
  font-size: .9em
  color: $grey-light
  border-top: .3em solid $coral
  p
    padding-bottom: .5em
    margin-bottom: .5em
    border-bottom: 1px dotted rgba(255,255,255,.2)
  a
    color: $grey-light
    &:hover
      color: $white
  .container
    .title
      color: $white
  .footer-copyright
    background-color: $black-semi
    color: $white
    font-size: .85em
    padding: 1.5em
    a
      color: $white
      &:hover
        color: $white
