
// -------------- MAIN CONTENT ----------------

.main-content
  padding: 40px 0px
  color: white
  background: $coral
  border-top: 5px solid $coral-light
  border-bottom: 5px solid $coral-light
  .container
    .row
      .main-column
        text-align: center
        span
          display: block
          width: 70px
          height: 70px
          font-size: 20px
          line-height: 60px
          text-align: center
          margin: 1em auto
          border: .3em solid $white
          border-radius: 5em
