.navbar-brand {
   margin: 0 120px 0 120px; 
   color: black;
   font-size: 190%;
}

.nav-item {
    color: whitesmoke;
}
.alert {
    margin-left: 32px;
}


.title {
color: black;
font-size: 140%;
font-weight: 600;
margin-bottom: 0px;
}

.post{
    text-align: center;
}




