#tres_columnas{
    background-color: #ed564b;
}
#col_1{
    justify-content: center;
}
.img_3{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 
}
