
/*I couldn't figure out how to remove the inflation of the overlay and maintain the cuadros smaller (spanglish)*/

.landing__image {
    background-image: url("/Users/lindavilla/Documents/GitHub/lab-bootstrap-cloning-revera/starter-code/img/slider-2.jpg");
    height: 75vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    filter: grayscale(100%);
    max-width: 100%;
}

.overlay {
    height: 75vh;
    width: 100%;
}


.Articles img {
    width: 200px;
    display: flex;
}


/*Latest Projects Images */

.projects__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    width: 75%;
}

.content img{
    width:270px;
    height:150px;
}

