.landingtext--style {
    position: absolute;
    height: 100%;
    margin: 100px 100px;
    width: 75%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

.landingtext--style h2 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}


.landingtext--style p {
    font-size: 16px;
    padding-bottom: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    width: 80%;

}

.landingtext--style button {
    width: 200px;
    height:50px;
    background-color: transparent;
    border-color: white;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


.services--style {
    background-color: red;
    opacity: 80%;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services--style h4 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}

.services--style p {
    margin: 0 40px;
    font-size: 15px;
    line-height: 30px;
}