

/*------------------Blocks-----------------*/

.nav-bar {
   width: 100%;
   height: 150px;
   align-items: center;
   display: flex;
   justify-content: space-around;
   justify-content: left;

} 



/*------------------Elements --------------*/

.nav__img {
    width: 20%;
    float: left;
}



/*------------------Modifiers -------------*/

.nav-bar ul {
    padding-left: 250px;
}

ul li{
    list-style: none;
    display: inline;
}

ul a {
    text-decoration: none;
    color: darkgray;
    font-size: 15px;
    padding-right: 8px;
    align-items: baseline;
}

.home a {
    color: red;
}

