.carousel-inner {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        @include background($carousel-overlay, 0 0, repeat);
    }
}

.carousel-item {
    max-height: 39.286rem;

    img {
        @include grayscale_element(100%);
    }
}

.carousel-caption {
    max-width: 57.143rem;
    color: $text-secondary;
    bottom: ($defaul-space * 4) +'rem';

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: $defaul-space+'rem';
    }

    .btn {
        width: 10.714rem;
        padding: 0.357rem 0;
    }
}

[class^="carousel-control-"] {
    position: absolute;
    top: calc(50% - 3.571rem);
    background-color: $red;
    color: $link-secondary;
    width: 3.571rem;
    height: 7.143rem;
    opacity: 1;
    display: flex;

    &:hover {
        background-color: $white;
        color: $link-primary;
    }

    i {
        font-size: 2.143rem;
    }
}