.section-latest-projects {
    @extend %sections-latest;
}

.section-latest-articles {
    @extend %sections-latest;

    p {
        font-weight: 400;
    }

    .posted {
        color: $link-tertiary;
        font-size: 0.75rem;

        a {
            color: $link-primary;
            text-decoration: none;
            font-weight: 700;
        }
    }
}