body {
  color: #606060;
}

h1,h2,h4,h6 {
  text-transform: uppercase;
}

h1,h5, #content-header1, #content-header2 {
  color: black;
}

a:hover {
  color: #ed564b;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.btn-light {
  background-image: url('./img/overlay.png');
  opacity: 0.5;
  color: white;
}

.nav-link {
  color: #606060;
}

.active {
  color: #ed564b;
}

.list-item {
  position: relative;
  display: block;
  border-bottom: 1px dashed #fff;
}

#slidebox .d-block {
  filter: grayscale(100%);
}

#slidebox .carousel-item {
  position: relative;
}


#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./img/overlay.png');
  opacity: 0.5;
}

#carousel {
  width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #ed564b;
  height: 70px;
  justify-content: space-around;
}
#fwidgets {
  background-color: #ed564b;
  color: #fff;
  text-align: center;
}

 #top-header {
   padding: 20px 0;
 }

#fwidgets, #bottom, #main-content {
  padding: 40px 0;
}

#fwidgets span {
  border: 5px solid #fff;
  background: transparent;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  display: block;
  line-height: 65px;
  text-align: center;
  margin: 0px auto 20px;
  font-size: 20px;
}

#bottom {
  background-color: #3b3b3b;
  border-top: 5px solid #ed564b;
  color: #fff;
}

.bottom-link {
  text-decoration: none;
  color: #fff;
}

#page-footer {
  color: #eee;
  background-color: #000;
}
