html{
    margin: 0;
}

body, button, input, select, textarea{
    color: #606060;
    font-family: 'Oxygen',sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}

#submenu li{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.navlink:hover{
    color: red;
}

.grayscale{
    filter: grayscale(100%);
}

#section-2 {
    padding: 40px 0px;
    background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    color: white;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.section-wide{
    margin-top: 40px;
}

.section-title h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.section-title p {
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    color: #aaa;
    padding-bottom: 20px;
}


nav {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  }

  #nav__logo {
    font-weight: 900;
    font-size: 2rem;
  }

  .navbar-light .navbar-nav .active > .nav-link {
    color: red;
  }

  header img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .card-img,
  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #overlay {
    background: url("/img/overlay.png");
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
  }

  .red-box {
    background-color: #ed564b;
    text-align: center;
    color: white;
    padding: 3.5rem;
    min-width: 100vw;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
  }

  .circle {
    margin: 0 auto;
    border: 4.5px solid white;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .title h4,
  .title p {
    font-weight: bold;
  }

  .title p {
    line-height: 1em;
    color: #3aaa;
    font-size: 0.9em;
  }

  p.card-text {
    font-weight: 500;
    line-height: 1em;
    text-align: center;
  }

  .btn-outline-light {
    border-radius: 0%;
  }

  .card-subtitle a {
    color: red;
  }

  #articles .card-body,
  #articles .card-subtitle {
    padding: 0em;
    font-size: 0.8rem;
  }

  #articles .card-title {
    padding: 1em 0;
    font-size: 0.9rem;
    font-weight: 700;
  }

  footer {
    color: #606060;
    background-color: #3b3b3b;
    border-top: 5px solid #ed564b;
    border-bottom: 3.5em solid #292929;
  }

  footer h5 {
    color: white;
  } 