.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  filter: grayscale(1);
}

.fwidgets {
  background-color:#ed564b;
  color: white;
  text-align: -webkit-center;
  padding: 40px 0px;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
}

ul{
  display: none; 
}

