.navbar {
    padding: 0px 79px;
    height: 90px;
  }
  
  .navbar-brand {
    color: black;
  }
  
  .brand-text {
    font-size: 36px;
  }
  
  .nav-link {
    color: gray;
  }
  
  .nav-link:active {
    color: #ed564b;
  }
  
  .nav-link:hover {
    color: #ed564b;
  }
  
  .lefty {
    left: 0;
      position: absolute;
      width: 50px;
      height: 100px;
      background-color: #ed564b;
      z-index: 120;
  }
  
  .right {
    right: 0;
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #ed564b;
    z-index: 120;
  }
  
  a.oremove {
    opacity: inherit;
    z-index: 140;
  }
  .overlay {
    background: url(http://demo.fabthemes.com/revera/wp-content/themes/Revera/images/overlay.png);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
  }
  
  .grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  
  .caption {
    bottom: 160px;
    z-index: 120;
  }
  
  .caption p {
    font-size: 16px;
  }
  
  .info {
    text-align: center;
    padding: 40px 0px;
    background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    color: white;
  }
  
  .paddingtop {
    padding-top: 40px;
  }
  
  .posttitle {
    padding-top: 20px;
  }
  
  .postsub {
    font-size: 12px;
    color: gray;
  }
  
  .postcontent {
    font-size: 14px;
    color: gray;
  }
  .contentcon {
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 40px;
  }
  .section-title {
    text-transform: uppercase;
  }
  
  .projectsub {
    text-align: center;
  }
  
  .bottom {
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
    padding-left: 135px;
    padding-right: 135px;
  }
  
  .bottom h3 {
    color: white;
  }
  
  .bottom p, li {
    color: gray;
  }
  
  .bottom li {
    list-style-type: none;
    text-align: left;
    border-bottom: 1px dotted gray;
    padding-bottom: 10px;
  }
  
  .bottom ul {
    padding-left: 0px;
  }
  
  .icons {
    font-size: 80px;
  } 