.redTxt{
    color: tomato !important;
}
nav a{
    margin-left: 40px;
    color: black;
}
.carousel-control-prev, .carousel-control-next{
    background-color: tomato;
    height: 50px;
    opacity: 1;
    height: 12%;
    top: 40%;
    width: 3%;
}
.carousel-caption{
    top: 30%;
}

.btn-light{
    background-color: rgba(0,0,0,0.2);
    color: white;
}
.card-group{
    background-color: tomato;
}
.card{
    background-color: tomato;
    margin: 10px;
}

.card-group .row{
    margin: auto;
    height: 30%;
    align-items: center;
}
.circle{
    border: 2px solid white;
    padding: 10px;
    border-radius: 40px;
    width: 48px;
    text-align: center;
}
i{
    color: white;
}
.card-body{
    text-align: center;
    color: white;
}
.card{
    border: 0;
}
.photos{
    padding: 10px;
}

.section-title{
    margin: 10px;
}

#lastest-projects *{
    background-color: white;
    color: black;
}

footer{
    background-color: #3d3d3d;
    color: white;
}

.footer-copyright{
    background-color: #2d2d2d;
    padding-left: 10vw;
}
