
#nav-bar1 {
font-size: 32px;
}

#main-div1 {
  border-top: 30px solid #ed564b;
  background-color: #ed564b;
}

#footer {
  background-color: #3b3b3b;
  border-top: 10px solid #ed564b;
  color: white;
  

}