nav
  padding: 2.5% 5%
  align-items: center
  h1
    font-weight: bolder
  ul
    list-style: none
    li
      margin: 0 2%
      cursor: pointer
      &:first-child
        color: #ed564b
      &:hover
        color: #ed564b

.carousel-inner
  height: 550px
  filter: grayscale(100%)
  position: relative
      
.services
  background-color: #ed564b
  color: white

  .item
    padding: 2%

    i
      border: 5px solid white
      border-radius: 50%
      padding: 5%
      font-size: 1.5rem
    