.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 34px;
    line-height: 20px;
    padding-right: 250px;
}

.background {
    background-color: #ee554a;
}

.col-sm-4 {
    color: white;
    text-align: center;
    padding: 4rem;
}

.glyphicon {
  font-size: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid white;
  color: white;
  padding-top: 1.5rem;
}

.carousel-inner img {
    filter: grayscale(100%);
}

.projects {
    font-weight: bold;
    padding-left: 2rem;
}

.projects p {
    color: #aaaaaa;
    font-weight: bold;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d3d1d1; 
}

.col-md-3 img {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.col-md-3 p {
    text-align: center;
    font-weight: 500;
    padding-bottom: 2rem;
}

.articles {
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 2rem;
}

.articles p {
    color: #aaaaaa;
    font-weight: bold;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d3d1d1;  
}

.blog h4 {
    font-size: 16px;
    font-weight: bold;
}

.blog h5{
    font-size: 12px;
    color: #7c7a7a;
    font-weight: bold;
}

.blog p {
    font-size: 12px;
}

.footer {
    background-color:#3b3b3b;
    border-top: 3px solid red;
    color: #aaaaaa;
}

.col-md-3 h3{
    font-size: 16px;
    color: white;
    text-align: left;
}

.footer p{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-left: 2rem;
}


.col-md-3 ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
}

.col-md-3 li {
    border-bottom: 1px dotted white;
    font-size: 14px;
    font-weight: 400;
}

.bottom {
    background-color: #292929;
    color: white;
    font-size: 10px;
    padding-bottom: 2rem;
}