html, body{
    margin: 0;
    padding: 0;
}

.navbar .nav > li:first-child{
    color:#ed564b;
}

#section1{
    background-image: url("img/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 50vh;
    position: relative;
    height: 50vh;
    color:white;
    padding: 0;
    margin: 0;
}

#section1 > span{
    width: 7vh;
    height: 7vh;
    background-color: #ed564b;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#text-s1{
    padding: 0 10vw;
}

#text-s1 > h1{
    font-size: 30px;
}

#section2{
    background-color: #ed564b;
    height: 40vh;
    color: white;
}

#section2 h2{
    font-size: 20px;
}

#section3{
    border-bottom: 3px solid #ed564b;
}

#section3 .col > img {
    width: 15vw;
}

#section4{
    height: 60vh;
    background-color: #404040;
    color: white;
}

#section4 .col > span{
    border-bottom: 1px dashed white;
}

#section4 .col.last > p{
    border-bottom: 1px dashed white;
}

footer{
    height: 15vh;
    background-color: #181818;
    color: white;
}

.red {
    color: #ed564b;
    font-weight: 700;
}
