.navbar-brand {
  margin-right: 80px;
}

.h1-parent {
  position: relative;
  img{
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section2 {
  background-color: #ED564B;
  color: #fff;
}

.glyphicon {
  font-size: 5em;
}

.section3 {
  img {
    width: 100%;
  }
}
