nav  {
  .navbar-header {
    display: inline-block;
    padding-left:13% !important;
    .navbar-brand {
      font-size: 32px;
      color: black;
    }
  }
  .navbar-nav {
    // margin-left: 10%;
    float: none;
    font-size: 12px;
    display: inline-block;
  }
}

.navbar {
  margin-bottom: 0;
}

.smallNav {
  border: none;
  background-color: #F8F8F8;
}

.centered {
  text-align: center;
  overflow: auto;
  margin-right: 15%;
}

.item {
  position: relative;
}

.mainImg {
  width: 100%;
  filter: grayscale(100%);
}

.carousel-control {
  width: 1.5%;
  opacity: 1;
}

.glyphicon-chevron-left:before {
  background-color: #ED564B;
  padding: 20px 5px;

}

.glyphicon-chevron-right:before {
  background-color: #ED564B;
  padding: 20px 5px;
  position: relative;
  right: 8px;

}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.clear-background {
  background-color: transparent;
  color: white;
  padding: 5px 20px;
}

.backgroundWrapper {
  background-color: #ED564B;
  background-size: 100%;
  padding: 50px 0;
  vertical-align: middle;

}

.info {
  color: white;
  text-align: center;
  padding: 0 20px;
  span {
    font-size: 25px;
  }
  h2 {
    margin-top: 0px;
  }
}
.circle {
  display: inline-block;
  border: 5px solid white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
}


.latest-projects {
  margin-top: 30px;
  header {
    border-bottom: 2px solid #BCBAB9;
  }
  h4 {
    color: #BCBAB9;
    padding: 5px 0;
  }
  h5 {
    font-weight: bold;
    font-size: 15px;
  }
  h6 {
    color: rgb(88, 88, 88);
    u {
      text-decoration: none !important;
      color: red;
    }
  }
  .col-sm-3 {
    color: black;
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
  .projects-col {
    text-align: center;
  }
}

.myDrop {
  float: right;
  margin-top: 10px;

}

@media (max-width: 800px) {

.carousel-inner>.item>img  {
  height:  400px;
}
.carousel-caption {
  top: 35%;
}
}
