.carousel {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

// come back to this to put arrows to the edges
 .glyphicon-chevron-left{
  left: 0px;
}

.glyphicon-chevron-right {
  right: 0px;
}

.info{
  padding: 40px 0px;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;


    .text{
      text-align: center;
      color: white;
    }



}

.title {
  border-bottom: 1px solid grey;
}


.thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;

    a:hover{
      color: #000;
      text-decoration: none;
    }

    a:visited {
    color: #000;
    }
   .caption{
     text-align: center;

    .article{
      text-align: justify;;
    }
 }

}

.bottom{
    background-color: #3b3b3b;
    border-top: 5px solid #ed564b;
    color: white;
    padding: 50px 0px;
}


.copy {
  background-color: #333;
  color: white;
}
