

.navbar-light .navbar-nav .active>.nav-link {
    color: red;
}

.navbar-expand-lg .navbar-nav {
    font-size: 12px;
}

.row{
    margin-bottom: 20px;
}

/*------------ SLIDER ------------*/

.overlay{
    background-image: url(img/overlay.png);
    width: 100%;
    height: 100%;
    position: absolute;
}

.carousel-inner{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}


.carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    background-color: red;
    height: 70px;
    right: 0px;
    position: absolute;
    z-index: 1000;
    padding: 15px;
}

.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    background-color: red;
    height: 70px;
    left: 0px;
    position: absolute;
    z-index: 1000;
    padding: 15px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.h5, h5 {
    font-size: 2.25rem;
}

.carousel-text{
    margin: 30px 0px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*------------ RED ------------*/

.redcontainer {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    background-color: red;
    color: #fff;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: red;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
}

.card-title {
    margin-bottom: .75rem;
    font-size: 24px;
}

.card-text:last-child {
    margin-bottom: 0;
    font-size: 12px;
}

.icon{
    width: 100px;
    margin-top: 30px;
}



/*------------ WHITE ------------*/

.whitecontainer {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    background-color: white;
    color: #000;
    margin: 0 auto;
    width: 80%;
}

.col-3{
    padding: 0;
}

.title.row {
    width: 100%;
    margin: 0rem 1.25rem;
}

.icon-white {
    width: 100%;
    padding: 1.35em;
}

.white{
    position: relative;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0em;
    text-align: center;  
}

.title-title{
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    margin: 50px 0px 5px 0px; 
}

.title-subtitle{
    width: 100%;
    color: grey;
    font-weight: 300;
    font-size: 12px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey; 
}

.white-ct {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
}

.white-cb{
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.card-title-second{
    font-size: 12px;
    font-weight: 700;
}

.white-ct-second {
    font-size: 12px;
}

.red{
    color: red;
}


/*------------ FOOTER ------------*/

footer{
    position: relative;
    background-color: #484848;
    border-top: 3px solid red;
}

.greycontainer{
    -ms-flex-pack: center!important;
    justify-content: center!important;
    padding-top: 50px;
    color: #fff;
    margin: 0 auto;
    width: 80%;
}


.last{
    color: #fff;
    background-color: #000;

}

.greydarkcontainer{
    justify-content: left!important;
    padding: 20px 0px;
    color: #fff;
    margin: 0 auto;
    width: 80%;
    font-size: 12px;
}

ul.white-ct-third {
    list-style: none;
    line-height: 2;
  
    margin-left: 0px !important;
    padding-inline-start: 0px;
}

li.dot {
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
}