body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.red-back{
    background-color: #DE6053;
    color: white;
}

.red-margin-top{
    border-top: 3px solid #DE6053;
    background-color: #3B3B3B;
    color: white;
}

.black-back{
    background-color: #292929;
    color: white;
}

.container-fluid{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.carousel-control{
    background-color: #DE6053;
    color: white;
    margin-top: 30%;
    margin-bottom: 50%;
    height: 30%;
    width: 10%;
}

.blog img{
    width: 70%;
}

