#h1-title {
  color: black;
}

.red-box {
  background-color: #ED564B;
  color: white;
  padding: 50px 0;
}

.white-box {
  padding: 50px 0;
}

.box-tags a {
  color: red;
}

.red-line {
  background-color: red;
  height: 15px;
}

.footer-box {
  background-color: #3B3B3B;
  margin-top: 25px;
}

.footer-links {
  padding: 25px 0;
}

.footer-links h4 {
  color: white;
  padding: 5px 0;
}

.dotted-ul li {
  border-bottom: 1px dotted #AAA;
  margin: 5px 0;
  padding: 2px 0;
}

.dotted-ul li a {
  color: #AAAAAA;
}

.black-footer {
  background-color: #292929;
  color: white;
  padding: 10px 0;
}
