.btest{
    border: 1px solid #ff0000;
}

h3, h2{
    font-weight: bold;
}

.navbar{
    height: 90px;
    margin-bottom: 0;
    padding-top: 20px;
}

.navbar a:hover{
    color: #000000;
}

.navbar-nav>li> a:hover, .dropdown-menu>li>a:hover, .dropdown-menu:active{
    background-color: #ffffff;
    color: #ff0000;
}

.navbar-nav a, .dropdown-menu>li>a{
    color: #8b8b8b;
}


.navbar-brand{
    font-size: 2.5em;
    color: #000000;
    font-weight: bold;
}

.navbar-brand a:hover{
    color: #000000;
}

.flex-caption h2{
    font-size: 2.5em;
    font-weight: normal;
}

.flex-caption{
    top: 40%;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    color: #ffffff;
    text-align: center;
    z-index: 120;
    position: absolute;
}

.flex-caption a{
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 35px 10px 35px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.192)
}

.flex-caption p{
    margin-bottom: 20px;
    font-size: 1.2em;
}

.carousel-control{
    background-color: #ff0000;
    height: 100px;
    width: 50px;
    margin-top: 200px;
    z-index: 110;
}

.doverlay{
    width: 100%;
    height: 100%;
    background-image: url("img/overlay.png");
    z-index: 100;
    position: absolute;
    top: 0;
}
.carousel-inner img{
    width: 100%;
    filter: grayscale(100%);
    z-index: 110;
}

.main-row{
    background-color: #f01b1bea;
    color: #ffffff;
    border-top: 4px solid #ff4141f8;
    border-bottom: 4px solid #ee2121cb;
}

.home-col{
    padding: 40px 10px 30px 10px;
    text-align: center;
}

.home-col span{
    border: 5px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 20px;
    font-size: 20px;
    line-height: 3em;
}

.section-title p{
    font-weight: bold;
    color: #aaa;
   border-bottom: 1px solid #dfdfdf;
   padding-bottom: 20px;
}

.section-title p{
   margin-bottom: 30px;
}

.boxitems h3{
    padding: 1px;
    text-align: center;
    font-size: 1.0em;
    font-weight: 100;
}

.boxitems p{
    padding: 0 2px 0 2px;
}

.sec h3{
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
}

.hometag{
    margin-bottom: 20px;
}

.posted-on, .byline{
    color: #3a3a3a;
    font-weight: bold;
    font-size: 0.9em;
}

.posted-on a{
    color: #ff0000;
}

.bottom{
    border-top: 5px solid #ff4040de;
    background-color: #3a3a3a;
    color: #c0c0c0;
    margin-top: 40px;
    padding: 40px 0 30px 0;
}

.bottom h3{
    color: #ffffff;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.bottom ul{
    padding: 0;
}

.bottom li{
    list-style-type: none;
    border-bottom: 1px dotted #727272;
    padding: 6px 0 6px 0;
}

.bottom a{
    color: #c0c0c0;
}

.bottom a:hover, .footer a{
    color: #fff;
    text-decoration: none;
}

.footer{
    background-color: #272727;
    color: #ffffff;
    font-size: 0.9em;
    padding: 20px 0 20px 0;
}

.footer a{
    color: #ffffff;
}