#page {
    height: 100vh;
}

#masthead {
    height: 90px
}

#slidebox {
    height: 550px;
    background-color: grey;
}

.fwidgets{
    height: 316px;
    background-color: #ed564b;
}

#content{
    height: 1128px;
    width: 55%;
    margin: 0 auto;
    padding: 20px
}

#bottom {
    height: 352px;
    background-color: #3b3b3b;
    border-top: 5px solid #ed564b;
    padding: 20px

}
footer {
    height: 78px;
    background-color: #292929;
    color: white;
    font-size: 12px;
}

.dropdown .dropdown-menu {
    visibility: hidden;
    display: block;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out
}
.carousel-item img {
    filter: grayscale(100%);
}


.carousel-inner {
    height: 550px;
}

.homewidget{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 13px;

}

.overlay {
    background-image: url("./img/overlay.png");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;

}

.carousel-caption {
    width: 40%;
    margin: 0 auto;
}



.boxitems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.postbox, .portbox {
    width: 300px;
    padding:5px
}

.postbox h3, .postbox h4 {
    font-size: 14px;
    font-weight: 700;
}
.portbox h3 {
    font-size: 14px;

}

.postbox p {
    font-size: 12px;
}

.postbox h4 {
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
}

#red {
    color: #ed564b;
}

.postbox, .portbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botwid {
    color: white
}

.botwid h3 {
    font-size: 14px;
    font-weight: 700;
}

.botwid p {
    font-size: 14px;
}

.textwidget ul li {
    border-bottom: 1px solid white;
}

a {
    color: white;
    text-decoration: none;

}

ul li {
    list-style-type: none;
}

.section-wide h2, .section-wide.sec h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase
    ;
}