.carrousel_hero {
  width: 100%;
}

.bajocarousel{
  background-color: #ed564b;
  padding: 50px;
  color: white;
}

.bajocarousel h2{
  text-align: center;
}

.bajocarousel p{
  text-align: center;
}

.fas fa-glass-martini{
  width: 200px;
  color: white;
}

.separador {
  width:100%;
  color: #3f3f3f;
  margin-top: 20px;
}

h2 {
  margin-top: 40px;
  font-size: 1.5rem;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5f5f5f;
  font-size: 1rem;
}

.separador2 {
  width:100%;
  border-color: #ed564b;
  margin-top: 20px;
  border: 6px;
}

.contfoot {
  background-color: #3b3b3b;
}

.footer1 {
  color: #aaa;
  padding: 20px;
}

.footer2 {
  color: #292929;
  padding: 20px;
}

footer_h3{
  color: white;
}

h4 {
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.nav2 {
  margin-right: 15px;
}