.container {
    max-width: 83%;
}

/* NAVBAR */
nav {
    height: 90px;
}

nav>.navbar-brand {
    font-size: 2.1em;
    font-weight: 700;
    padding: 0 250px 0 120px;
}

nav>div>ul>li>a {
    font-size: 0.9em;
    font-weight: 400;
}

nav>div>ul>li>ul>.dropdown {
    border-style: none;
}

nav>div>ul>li>a>span {
    font-size: 0.7em;
    font-weight: 700;
}

nav>div>ul>li>ul>hr {
    margin: 4% 3%;
}

nav>div>ul>li>ul>li {
    font-size: 0.8em;
}

nav>div>ul>li>ul>li>a {
    color: #858585 !important;
    font-size: 0.9em;
}

nav>div>ul>li>ul>li>a:hover {
    color: #ED564B !important;
    background-color: inherit !important;
}

nav>div>ul>li>.home-btn {
    color: #ED564B !important;
}

nav>div>ul>li>a:hover {
    color: #ED564B !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    border: none;
    background-color: #F8F9FA;
    border-radius: unset;
}

/* CAROUSEL */
#carouselExampleControls>div {
    background-image:
    linear-gradient(45deg, #808080 25%, transparent 25%), 
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size:4px 4px;    
    background-position:0 0, 10px 0, 10px -10px, 0px 10px;
    max-height: 585px;
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 250px;
    background-color: #ED564B;
    font-size: 2.2em;
    font-weight: 800;
    height: 100px;
    width: 50px;
    opacity: 1 !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #FFF;
    color: #ED564B;
    opacity: 1;
}

#carouselExampleControls>div>div>div>button {
    border-radius: 0;
    width: 15%;
    font-size: 0.9em;
    font-weight: 800;
}

#carouselExampleControls>div>div>div>button:hover {
    text-decoration: none !important;
    color: #FFF !important;
    background-color: transparent !important;
}

#carouselExampleControls>div>div>.carousel-caption {
    padding-bottom: 100px;
}

#carouselExampleControls>div>div>img {
    filter: grayscale(100%);
    opacity: 90%;
}

/* ABOUT SECTION */
#about {
    background-color: #ED564B;
    border-top: solid 5px #F96B61;
    border-bottom: solid 5px #F96B61;
}

#about>div>div>div {
    margin: 20px 0;
    text-align: center;
    color: #FFF
}

#about>div>div>div>i {
    font-size: 1.2em;
    border: solid 5px;
    border-radius: 50%;
    padding: 6%;
    margin: 20px;
}

#about>div>div>div>h3 {
    font-size: 1.5em;
    font-weight: 700;
}

#about>div>div>div>p {
    font-size: 0.9em;
    font-weight: 400;
}

/* PROJECT SECTION */
#project-section {
    margin: 60px 0;
}

#project-section>div>h4 {
    font-size: 1.6em;
    font-weight: 700;
    color: #000;
}

#project-section>div>p {
    font-size: 0.9em;
    font-weight: 700;
    color: #AAAAAA;
    margin-bottom: 20px;
}

#project-section>div>div>div {
    text-align: center;
}

#project-section>div>div>div>a {
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: #000
}

#project-section>div>div>div>a>img {
    width: 100%;
    margin: 15px 0;
}

/* ARTICLE SECTION */
#article-section>div>h4 {
    font-size: 1.6em;
    font-weight: 700;
    color: #000;
}

#article-section>div>p {
    font-size: 0.9em;
    font-weight: 700;
    color: #AAAAAA;
    margin-bottom: 20px;
}

#article-section>div>div>div>a {
    text-decoration: none;
}

#article-section>div>div>div>a>h3 {
    font-size: 0.9em;
    font-weight: 800;
    margin-bottom: 20px;
    color: #000;
}

#article-section>div>div>div>h4 {
    font-size: 0.7em;
    font-weight: 800;
    margin: -8px 0 25px 0;
    color: #636363;
}

#article-section>div>div>div>p {
    font-size: 0.9em;
    font-weight: 400;
    color: #606060;
    margin-bottom: 50px;
}

#article-section>div>div>div>h4>a {
    color: #ED564B;
    text-decoration: none;
}

#article-section>div>div>div>h4>a:hover {
    color: #000;
}

#article-section>div>div>div>a>img {
    width: 100%;
    margin: 15px 0;
}

/* FOOTER */
#footer {
    background-color: #3B3B3B;
    border-top: solid 5px #ED564B;
    padding: 50px 0 30px 0;
}

#footer>div>div>div>h3 {
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px;
}

#footer>div>div>div>p {
    font-size: 0.9em;
    color: #A6A6A6;
}

#footer>div>div>div>ul {
    margin: 0;
    padding: 0;
}

#footer>div>div>div>ul>li {
    list-style-type: none;
    padding: 6px 0;
    border-bottom: dotted 1px #A6A6A6;
}

#footer>div>div>div>ul>li>a {
    font-size: 0.9em;
    color: #A6A6A6;
    text-decoration: none;
}

#footer>div>div>div>ul>li>a:hover {
    color: #FFF;
}

/* COPYRIGHT */
#copyright-section {
    background-color: #292929;
    color: #FFF;
    font-size: 0.7em;
    padding: 20px 0;
}