/* ======================== */
/* GENERAL CLASSES */
/* ======================== */
.bg-orange{
    background-color: #e75342;
    color: #fff;
}

.bordery-orange {
   border-top: 6px solid #e6776b;
   border-bottom: 6px solid #e6776b;
}

.border-top-orange {
    border-top: 6px solid #e75342;
}

.img-gray{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* ======================== */
/* NAVBAR CLASSES */
/* ======================== */
.navbar-light .navbar-nav .active>.nav-link {
    color: #DC6052;
}

.navbar-nav > .nav-item > .nav-link {
    font-size: 0.9rem;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #DC6052;
}

/* ======================== */
/* CAROUSEL CLASSES */
/* ======================== */
.carousel-control-next, .carousel-control-prev {
    top: 40%;
    width: 4%;
    height: 20%;
    background-color: #DC6052;
    color: #fff;
    text-align: center;
    opacity: 1;
}

.slider-btn {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0;
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px 25px;
}

.slider-btn:hover {
    color: white;
}

.custom-slide {
    z-index:1;
    background-repeat: repeat;
}

/* ======================== */
/* ICONS CLASSES */
/* ======================== */
.homewidget span {
    display: block;
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    margin: 0 auto 15px auto;
    font-size: 20px;
}

/* ======================== */
/* PROJECTS & ARTICLES SECTION */
/* ======================== */
.projects-text {
    font-size: 0.8rem;
    font-weight: bold;
}

#latest-projects a, .article {
    text-decoration: none;
    color: #000;
}

#latest-projects a:hover, .article:hover {
    text-decoration: none;
    color: #000;
}

.articles-text {
    font-size: 0.95rem;
    font-weight: bold;
    line-height: 1rem;
}

.subtitle {
    font-size: 0.9rem;
    color: rgb(163, 163, 163);
}

.post-info {
    font-size: 0.75rem;
    font-weight: bold;
    color: rgb(95, 95, 95);
}

.text-orange {
    color: #e75342;
}

.text-orange:hover {
    color: #161616;
}

/* ======================== */
/* FOOTER CLASSES */
/* ======================== */
footer {
    background-color: rgb(59, 59, 59); 
    color: white;
}

footer p, li {
    font-size: 0.8rem;
    color: rgb(168, 168, 168);
}

footer li {
    list-style-type: none;
    border-bottom: 1px dotted rgb(168, 168, 168);
}

.footer-info {
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 0.75rem;
}