body {
    font-size: 1em;
    font-weight: 300;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
.post {
    text-transform: uppercase;
}

h2 {
    font-size: 1.2em;
    font-weight: 900;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

.red {
    color: red;
}


.navbar-brand {
    font-weight: 900;
    font-size: 35px;
    margin-right: 10%;
}

.nav-link {
    font-size: 0.9em;
}

.navbar-light .navbar-nav .nav-link.active {
    color: red;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: red;
}





.services {
    background-color: #EB5750;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.icontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px auto;

}

.projects .row {
    margin: 30px auto;
}

.projects h3 {
    color: grey;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.col img {
    width: 100%;
    margin-bottom: 15px;
}