body {
    font-family: Arial, Helvetica, sans-serif;
    
}

#home {
    color: red;
}



#navbar {
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}


#next {
   background-color: red;
   margin-top: 250px;
   width: 80px;
   height: 80px;
   
}

#prev {
    background-color: red;
   margin-top: 250px;
   width: 80px;
   height: 80px;
   
}
.carousel-item {
    filter: grayscale(100%);
}

#revera{
    color: #212529;
    font-size: 28px;
    font-weight: 900;
    margin-right: 250px;
    margin-left: 50px;
    
}

.navbar-nav {
    font-size: 15px ;
}

.col-md-4 {
    height: 500px;
    background-color: red;
    color: white;
    
}

.icon{
    border:2px solid white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.latestProjects {
    margin-top: 50px;
    font-weight: 900;
    font-size: 35px;
}

.h2 {
    color: gray;
   font-size: 20px;
    margin-bottom: 30px;
}


.projects {
    width: 200px;
}

.descrition {
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project2 {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 200px;
    margin-left: 45px;

}