
.carousel-inner img {
   
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
   
  }

 .linkText a {
    text-decoration: none;
    color: grey;
  }
  .linkText p {
    text-decoration: none;
    color: grey;
  }

  ul {
    list-style-type: none;
}