body {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

/* BOOTSTRAP CHANGES */

.col-sm-3 {
  padding-right: 7px;
  padding-left: 7px;
}

/* NAVBAR */

h1 {
  font-weight: bold;
}

.nav {
  padding: 1% 10%;
  margin: 0 auto;
  font-size: 0.8rem;
}

.navbar-nav {
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  margin: 0 12px;
}



/* SLIDER */

.slide-container {
  background-color: #000;
  height: 400px;
}

.carousel-control-prev {
  background: #ed564b;
  height: 18%;
  width: 4%;
  margin: auto;
}

.carousel-control-next {
  background: #ed564b;
  height: 18%;
  width: 4%;
  margin: auto;
}



/* CATEGORY ICONS */

.category-icons {
  background-color: #ed564b;
  text-align: center;
  color: #FFF;
  padding: 3% 10%;
}

.card {
  background: transparent;
  border: none;
}

.card h3 {
  font-weight: bold;
  margin-top: 10%;
  font-size: 1.4rem;
}

.card i {
  font-size: 1.5rem;
  border: 4px solid #FFF;
  border-radius: 100%;
  padding: 5%;
}



/* LATEST PROJECTS & ARTICLES */

.project-container, .blog-container {
  padding: 3% 10%;
}

.project-container h2, .blog-container h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.project-container p {
  color: #aaa;
}

.project-container img, .blog-container img {
  padding-top: 1rem;
}

.project-container h3 {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.project-container a {  
  text-decoration: none;
  color: #000;
}



/* LATEST ARTICLES */

.blog-container {
  margin-bottom: 2rem;
}
.subtitle {
  color: #aaa;
}

.blog-container a {
  text-decoration: none;
  color: #000;
}

.blog-container h3  {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
  padding-top: 1rem;
}

.blog-container img {
  padding-top: 1rem;
}

.posted {
  font-size: 0.6rem;
  color: #000;
}

.blog-container p a {
  color: #ed564b;
  text-decoration: none;
}

.description-post {
  font-size: 0.8rem;
}



/* END CONTAINER */

.end-container {
  background: #3b3b3b;
  border-top: 5px solid #ed564b;
}

.columns {
  padding: 3% 11%;
}

.end-column h3 {
  color: #FFF;
  font-size: 1.1rem;
  padding-bottom: 8%;
}

.end-column p {
  color: #aaa;
  font-size: 0.7rem;
}

.end-container a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.7rem;
}

.end-container a:hover {
  color: #FFF;
}

.end-container a + hr {
  margin-top: 1%;
}

.end-container hr {
  border: 0.5px dotted #aaa;
}



/* FOOTER */

footer {
  padding: 1% 2%;
  background: #292929;
  font-size: 12px;
}

footer p {
  color: #FFF;
  margin-bottom: 4px;
} 
