* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    padding-left: 25px;
    text-transform: uppercase;
}

.title h2 {
    font-size: 27px;
    font-weight: bold;
}

.sub-heading {
    font-size: 14px;
    color: #aaa;
    font-weight: bold;
}

nav .row {
    width: 1200px;
    height: 80px;
    margin: 60px 15px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: 14px;
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 32px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.active a {
    color: #ed564b;
}

.navbar li {
    padding: 0 5px;
}

#main {
    position: relative;
}

#main img {
    filter: grayscale(100%);
}

.arrow-icon {
    width: 50px;
    height: 100px;
    background-color: #f4473a;
    cursor: pointer;
    font-size: 4px;
    z-index: 100;
    position: absolute;
    top: 40%;
}

.carousel-control-prev {
    position: absolute;
    left: 0%;
}

.carousel-control-next {
    position: absolute;
    right: 0%;
}

.slide-caption {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    width: 800px;
    text-align: center;
    margin-left: -400px;
}

.slide-caption h2 {
    font-size: 38px;
    margin: 10px 0;
    text-transform: uppercase;
}

.slide-caption p {
    font-size: 16px;
    margin-bottom: 20px;
}

a.readmore {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 50px;
    color: #fff;
    border: 1px solid #fff;
}

#red-section {
    background: #ed564b;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
}

#red-section h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin: 20px 0 10px;
}

#red-section p {
    font-size: 14px;
    margin: 0px 0px 10px;
    line-height: 1.6;
}

.widget span {
    border: 5px solid #fff;
    border-radius: 35px;
    background: transparent;
    width: 70px;
    height: 70px;
    display: block;
    line-height: 65px;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
}

.boxes img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.boxes h3 {
    padding: 15px 0px 5px;
    font-weight: bold;
}

#latest-projects h3 {
    margin-bottom: 30px;
}

.col-6 {
    float: left;
}

.caption {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.post, .manager {
    color: #606060;
    font-size: 12px;
    font-weight: bold;
}

.post a, .manager a {
    color: #f4473a;
}

#latest-projects {
    padding: 51px;
}

#latest-projects hr {
    margin: 5px 20px 30px 20px;
}

#latest-projects h3 {
    line-height: 0.6;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
}

#latest-projects a {
    font-size: 14px;
    color: #000000;
    text-align: center;
}

#latest {
    padding: 40px;
    border-bottom: 5px solid red;
}

.boxes p {
    font-size: 14px;
    font-family: sans-serif;
}

#latest hr {
    margin: 5px 20px 30px 20px;
}

.boxes h3 a {
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
}

#bottom {
    background: #3b3b3b;
    color: #AAAAAA;
    padding: 40px 40px 20px 40px;
    font-size: 14px;
}

#bottom h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

#bottom a {
    color: #AAAAAA;
}

#bottom li {
    border-bottom: 1px dotted #999999;
    padding: 7px 0;
}

#bottom p {
    line-height: 1.5;
}

.dotted-border {
    border: 1px dotted #999;
    cursor: help;
}

footer {
    font-size: 13px;
    padding: 25px 0;
    background: #292929;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}